$border : 1px solid #006ba1;
$hover-background-color: #009EED;
$button-background-color: #007DBA;

.input-button-container {

    .button-default{
    height: $thirty;
    width: max-content;
    border: $border;
    border-radius: 3px;
    background-color: $button-background-color;
    margin-bottom: $ten;
    color: $white-color;

    &:hover{
        background-color: $hover-background-color;
        border: $border;
    }

}
}